@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* Variables */
:root {
    /* Colors */
    --primary-light-red: hsl(0, 100%, 67%);
    --primary-light-red-100: hsla(0, 100%, 67%, .1);
    
    --primary-orange-yellow: hsl(39, 100%, 56%);
    --primary-orange-yellow-100: hsla(39, 100%, 56%, .1);
    
    --primary-green-teal: hsl(166, 100%, 37%);
    --primary-green-teal-100: hsla(166, 100%, 37%, .1);
    
    --primary-cobalt-blue: hsl(234, 85%, 45%);
    --primary-cobalt-blue-100: hsla(234, 85%, 45%, 0.1);

    --bg-gradient-light-slate-blue: hsl(252, 100%, 67%);
    --bg-gradient-light-royal-blue: hsl(241, 81%, 54%);

    --circle-gradient-violet-blue: hsla(256, 72%, 46%, 1);
    --circle-gradient-persian-blue:hsla(241, 72%, 46%, 0);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-pale-blue: hsl(221, 100%, 96%);
    --neutral-light-lavender: hsl(241, 100%, 89%);
    --neutral-dark-gray-blue: hsl(224, 30%, 27%);

    /* Fonts */
    --paragraph-font-size: 18px;
    --font-family: 'Hanken Grotesk', sans-serif;

    /* Widths */
    --mobile-screen: 375px;
    --desktop-screen: 1440px;



}

/* Universal Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

ul {
    list-style: none;
}

.icon-size {
    height: 1em;
    width: 1em;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.white-color {
    color: var(--neutral-white);
}

.red-color {
    color: var(--primary-light-red);
}
.red-bg {
    background-color: var(--primary-light-red-100);
}
.yellow-color {
    color: var(--primary-orange-yellow);
}
.yellow-bg {
    background-color: var(--primary-orange-yellow-100);
}
.green-color {
    color: var(--primary-green-teal);
}
.green-bg {
    background-color: var(--primary-green-teal-100);
}
.blue-color {
    color: var(--primary-cobalt-blue);
}
.blue-bg {
    background-color: var(--primary-cobalt-blue-100);
}

.lavender-color {
    color: var(--neutral-light-lavender);
}

.sm-font {
    font-size: calc(var(--paragraph-font-size) - 5);
}

.md-font {
    font-size: 1.3em;
}

.lg-font {
    font-size: 2.5em;
}

#circle {
    background: linear-gradient(var(--circle-gradient-violet-blue), var(--circle-gradient-persian-blue));
    width: 8em;
    height: 8em;
    padding: 2em;
    border-radius: 100%;
}

/* Mobile Screen */
section {
    width: 100vw;
}

#blue-section {
    background: linear-gradient(var(--bg-gradient-light-slate-blue), var(--bg-gradient-light-royal-blue));
    height: 40vh;
    padding-block: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: center;
    border-bottom-left-radius: 2.5em;
    border-bottom-right-radius: 2.5em;
    justify-content: center;
}

#blue-section-bottom {
    row-gap: .5em;
}

#white-section {
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    row-gap: 1.2em;
}
.item-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.2em;
}
.item {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .6em;
}
.item-left {
    display: flex;
    align-items: center;
    column-gap: .5em;
}
.btn {
    background-color: var(--neutral-dark-gray-blue);
    padding: .6em;
    border-radius: 1em;
    cursor: pointer;
}
.desk-hide {
    display: block;
}
.desk-show {
    display: none;
}

@media screen and (min-width: 40em) {
    main {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: var(--neutral-pale-blue);
    }
    .desk-hide {
        display: none;
    }
    .desk-show {
        display: block;
    }
    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: linear-gradient(var(--neutral-pale-blue), var(--neutral-white));
        width: auto;
        height: 45%;
        border-radius: 2em;
        box-shadow: 10px 10px 18px rgba(0,0,0,.1);
    }
    #white-section, #blue-section {
        height: unset;
        width: 18em;
    }
    #blue-section {
        border-radius: 2em;
    }
    #white-section {
        padding-block: 8em;
        row-gap: 1em;
    }
    .item-container {
        row-gap: .6em;
    }
    .item {
        padding: .8em;
    }
    .btn {
        padding: .4em;
    }
    .md-font {
        font-size: 1.1em;
    }
    .btn:hover {
        background: linear-gradient(var(--bg-gradient-light-slate-blue), var(--bg-gradient-light-royal-blue));
    }
}